.profile__sign-out-button {
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;

    cursor: pointer;
    
    color: #ee3465;
    background-color: transparent;
    border: none;

    margin: 0;
    padding: 0;

    transition: opacity .3s linear;
}

.profile__sign-out-button:hover {
    opacity: .6;
}