.about-project__illustration-description {
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;

    color: #8b8b8b;
    margin: 14px 0 0 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .about-project__illustration-description {
        line-height: 13px;
        font-size: 11px;
    }
}