.identification__title {
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

    grid-column: 2/3;

    color: #fff;
    margin: 40px 0 0 0;
}

@media screen and (max-width: 768px) {
    .identification__title {
        margin: 50px 0 0 0;
    }
}