.page-not-found__go-back-button {
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

    color: #4285F4;

    margin: 0;
    padding: 0;

    grid-row: 3/4;

    cursor: pointer;
}