.movies-card__delete-button {
    background-image: url(../../../images/delete-button.png);
    background-color: transparent;
    width: 30px;
    height: 30px;

    border: none;
    display: none;

    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: end;
    align-self: center;

    background-position: center;
    background-repeat: no-repeat;
    
    cursor: pointer;

    margin: 0 16px 0 0;
    padding: 0;

    transition: opacity .3s linear;
}

.movies-card__delete-button:hover {
    opacity: .6;
}

.movies-card:hover .movies-card__delete-button {
    display: block;
}