.movies-card__title {
    margin: 16px 12px 17px 16px;
    padding: 0;

    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;

    color: #fff;

    grid-row: 2/3;
    grid-column: 1/2;
    
    max-width: 345px;
}