@import url(./vendor/fonts/fonts.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/header/header.css);
@import url(./blocks/promo/promo.css);
@import url(./blocks/section/section.css);
@import url(./blocks/about-project/about-project.css);
@import url(./blocks/body/body.css);
@import url(./blocks/techs/techs.css);
@import url(./blocks/about-me/about-me.css);
@import url(./blocks/portfolio/portfolio.css);
@import url(./blocks/search-form/search-form.css);
@import url(./blocks/movies-card-list/movies-card-list.css);
@import url(./blocks/movies-card/movies-card.css);
@import url(./blocks/more-button/more-button.css);
@import url(./blocks/identification/identification.css);
@import url(./blocks/preloader/preloader.css);
@import url(./blocks/page-not-found/page-not-found.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/menu/menu.css);
@import url(./blocks/menu/_display/menu_display_grid.css);

.search-form__error-message {
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    
    color: #ee3465;
    margin: 10px 0 0 10px;

    visibility: hidden;
}

.search-form__error-message_type_error {
    visibility: visible;
}

.identification__submit-button_type_disable {
    background-color: #222;
    color: #333 ;
    cursor: default;
}

.profile__form {
    margin: 0;
    padding: 0;
    grid-column: 2/3;
}

.profile__data-value_type_error {
    color: #ee3465;
}

.profile__edit-button_type_disable {
    color: #333;
    cursor: default;
}

.profile__edit-button_type_disable:hover {
    opacity: 1;
}